/* Geneeral styling */
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color:  hsl(0, 0%, 8%);
    align-items: center;
    justify-items: center;
    color: hsl(0, 0%, 100%);
}

/* content styling */
.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    padding: 60px 20px;
    margin: 0 auto;
    border-radius: 10px;
}

/* profile detials */
.p-details{
    justify-items: center;
    align-items: center;
    margin: 20px 0;
}
.name{
    font-weight: 800;
    padding-bottom: 0;
}
.location{
    color: hsl(75, 94%, 57%);
    padding-top: 0;
}
p{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 0;
}
img{
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    border: 1.5px solid hsl(75, 94%, 57%);
    border-radius: 50%;
}

/* social media */
.s-media{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 20px;
    text-align: center;
}
.btn{
    display: flex;
    flex-direction: column;
    background-color:  hsl(0, 0%, 20%);
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
}
.s-media :hover{
    color: black;
    background-color: hsl(75, 94%, 57%);
}

/* footer */
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }



/* media query for responsiveness */

/* small mobile - standard smartphone */
@media screen and (max-width: 359px) {
    .container{
        width: 100%;
        max-width: 150px;
        margin: 50px 0;
        
    }
    .p-details{
        margin-bottom: 5px; margin-top: 5px;
    }
    .s-media{
        width: 100%;
        max-width: 150px;
        gap: 10px;
        padding: 0 10px;
    }
    .name{
        font-size: 1rem;
        font-weight: 300;
    }
    p, .s-media, .attribution{
        font-size: 0.49rem;
        font-weight: 100;
        text-align-last: center;
        padding-bottom: 0;
    }
    img{
        width: 60px;
        height: 60px;
        margin-top: 0;
    }
    
}
@media screen and (min-width: 360px) {
    .container{
        width: 100%;
        max-width: 200px;
        margin: 100px 0;
        
    }
    .p-details{
        margin-bottom: 5px; margin-top: 5px;
    }
    .s-media{
        width: 100%;
        max-width: 200px;
        gap: 10px;
        padding: 0 50px;
    }
    .name{
        font-size: 1.2rem;
        font-weight: 300;
    }
    p, .s-media, .attribution{
        font-size: 0.53rem;
        font-weight: 100;
    }
    img{
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }
    
}

@media screen and (min-width: 480px) {
    .container{
        width: 100%;
        max-width: 300px;
        margin: 100px 0;
        
    }
    .s-media{
        width: 100%;
        max-width: 300px;
        gap: 10px;
        padding: 0 50px;
    }
    .name{
        font-size: 1.55rem;
        font-weight: 400;
    }
    p, .s-media, .attribution{
        font-size: 0.75rem;
        font-weight: 200;
    }
    img{
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
    
}

/* standard smartphone - modern smartphone */
@media screen and (min-width: 600px) {
    .container{
        width: 100%;
        max-width: 300px;
        margin: 100px 0;
    }
    .s-media{
        width: 100%;
        max-width: 300px;
        gap: 10px;
        padding: 0 50px;
    }
    .name{
        font-size: 2rem;
        font-weight: 400;
    }
    p, .s-media, .attribution{
        font-size: 0.7rem;
        font-weight: 300;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 100%;
        max-width: 300px;
        margin: 100px 0;
    }
    .s-media{
        gap: 10px;
        padding: 0 50px;
        width: 100%;
        max-width: 300px;
    }
    .name{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 5px;
    }
    p, .s-media, .attribution{
        font-size: 0.7rem;
        font-weight: 500;
    }
    
}

/* laptop - desktop */
@media screen and (min-width: 1024px) {
    .container{
        width: 100%;
        max-width: 800px;
        margin: 100px 0;
    }
    .s-media{
        gap: 20px;
        padding: 0 80px;
        width: 100%;
        max-width: 600px;
    }
    .name{
        font-size: 3rem;
        font-weight: 800;
        margin-bottom: 5px;
    }
    p, .s-media, .attribution{
        font-size: 1.2rem;
        font-weight: 500;
    }
    img{
        width: 150px;
        height: 150px;
        margin: 5px 0;
    }
}