body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    background-color:  hsl(0, 0%, 8%);
    align-items: center;
    justify-items: center;
    color: hsl(0, 0%, 100%);
}
.container{
    display: block;
    justify-items: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    width: 100%;
    padding: 60px 20px;
    margin: 0 auto;
    border-radius: 10px;
}
.p-details{
    justify-items: center;
    align-items: center;
    margin: 20px 0;
}
.name{
    font-weight: 800;
    padding-bottom: 0;
}
.location{
    color: hsl(75, 94%, 57%);
    padding-top: 0;
}
p{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
}
img{
    display: block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
    border: 1.5px solid hsl(75, 94%, 57%);
    border-radius: 50%;
}
.s-media{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.btn{
    display: block;
    background-color:  hsl(0, 0%, 20%);
    width: 350px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
}
.s-media :hover{
    color: black;
    background-color: hsl(75, 94%, 57%);
}

.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }

/* media query for responsiveness */
@media screen and (max-width: 480px) {
    .container{
        margin: 100px 0;
        width: 80%;
    }
    p, .s-media, .attribution{
        font-size: 0.7rem;
        font-weight: 300;
    }
    .s-media{
        gap: 10px;
    }
    .btn{
        width: 200px;
    }
}
@media screen and (max-width: 600px) {
    .container{
        margin: 100px 0;
        width: 100%;
    }
    p, .s-media, .attribution{
        font-size: 1rem;
        font-weight: 400;
    }
    .btn{
        width: 300px;
    }
    
}
@media screen and (max-width: 768px) {
    .container{
        margin: 150px 0;
        width:fit-content;
    }
    .name{
        font-size: 2.5rem;
        font-weight: 600;
    }
    p, .s-media, .attribution{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .s-media{
        gap: 30px;
    }
    .btn{
        width: 450px;
    }
    img{
        width: 150px;
        height: 150px;
    }
    
}
@media screen and (min-width: 1024px) {
    .container{
        margin: 200px 0;
        padding-bottom: 80px;
    }
    .s-media{
        gap: 30px;
        padding: 0 50px;
    }
    .name{
        font-size: 3rem;
        font-weight: 700;
    }
    p, .s-media, .attribution{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .btn{
        width: 600px;
    }
    img{
        width: 200px;
        height: 200px;
        margin-top: 80px;
    }

}